main {
    margin: 0 auto;
    padding: 10px;
}

table {
    border-collapse:collapse;
}

#daou-bit {
    background-color: #e3faf7;
    height: 100%;
}
/*Header*/

.nav-bar {
    height: 60px;
    vertical-align: middle;
    padding: 10px 10px 10px 0;
    background: transparent;
}

.login-btn {
    display: flex;
    justify-content: center;
    height: 100%;
    float: right;
}

/*Main*/

.current-board {
    width: 100%;
    height: 250px;
}

.exchange-list {
    height: 150px;
    overflow-y: scroll;
    margin: 10px;
    padding-right: 10px;
}

.exchange-table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    text-align: center;
}

.exchange-row {

}

.count, .price {
    text-align: right;
}

/*ExchangeList Template*/
.current-board {
    text-align: center;
}

.exchange-forms{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.list-template{
    background: white;
    display: inline-block;
    width: 33%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.coin-list {
    float: left;
}
.call-list {
    float: right;
}

.title {
    padding: 1rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    background: #22b8cf;;
    color: white;
}

.form-wrapper {
    padding: 1rem;
    border-bottom: 1px solid #22b8cf;
}

.exchanges-wrapper {
    min-height: 5rem;
}

.exchange-form{
    width: 49%;
    display: inline-block;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.exchange-form.pForm {
    float: left;
}
.exchange-form.sForm {
    float: right;
}

/*Exchange Item*/
.todo-item {
    padding: 1rem;
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    cursor: pointer;
    transition: all 0.15s;
    user-select: none;
}

.exchange-item:hover {
    background: #e3fafc;
}

/* todo-item 사이에 윗 테두리 */
.exchange-item + .texchange-item {
    border-top: 1px solid #f1f3f5;
}

.exchange-text {
    flex: 1;
    word-break: break-all;
}

.checked {
    text-decoration: line-through;
    color: #adb5bd;
}

/*Form*/
.form {
    display: block;
    text-align: center;

}

.form input {
    margin-bottom: 10px;
    font-size: 1.25rem;
    outline: none;
    border: none;
    text-align: right;
    border-bottom: 1px solid #c5f6fa;
}

.create-button {
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    width: 100px;
    text-align: center;
    background: #22b8cf;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.create-button:hover {
    background: #3bc9db;
}